.card {
  border: 1px solid #e6e6e6;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  padding: 30px 45px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
