.card {
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.login {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.card h1 {
  font-size: 24px;
}
.card h2 {
  font-size: 18px;
  font-weight: 500;
}
